html
{
    background-color: #FFD39B;
    color: #000;
    font-family: sans-serif;
}

body
{
    margin-top: 1em;
    margin-right: 15%;
    margin-left: 15%;
    border-style: solid;
    border-width: 2px;
    border-color: #666;
    padding: 1px;
    background-color: #FAFAD2;
    color: #000;
}

div.head
{
    width: 94%;
    margin: 0;
    padding: 0.5em 3%;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-color: #fff;
    color: #000;
	font-size: 2.5em;
	font-weight: bold;
}

div.content
{
    padding-left: 2.5em;
    padding-right: 2.5em;
}

div.bullet-list
{
	font-size: 0.8em;
    font-weight: bold;
}
div.bullet-list ul
{
    margin-top: 0.3em;
    font-weight: normal;
}

div.content-img img
{
    display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width: 80%;
	border: 1px solid gray;
}

div.foot
{
    clear: both;
    width: 94%;
    padding: 0.5em 3%;
    background-color: #EED5B7;
    color: #A9ACB6;
    text-align: center;
    font-size: 0.8em;
}
div.foot a:link
{
    background-color: transparent;
    color: #9ac;
}
div.foot a:visited
{
    background-color: transparent;
    color: #c9a;
}

ul.navbar
{
    width: 100%;
    float: left;
    margin-top: 1px;
    margin-left: 0;
    padding-left: 0;
    background-color: #EEC591;
    color: #fff;
    list-style-type: none;
}
ul.navbar li
{
    display: inline;
    text-transform: uppercase;
    font-size: 1em;
}
ul.navbar li.current
{
    padding: 0.2em 1em;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #fff;
    background-color: #8B7355;
    color: #fff;
    font-size: 1em;
}
ul.navbar li.unavailable
{
    padding: 0.2em 1em;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #fff;
    background-color: #453;
    color: #888;
    font-size: 1em;
}
ul.navbar li a
{
    padding: 0.2em 1em;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #fff;
    background-color: #EEC591;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
ul.navbar li a:hover
{
    background-color: #CDAA7D;
    color: #fff;
}


a:link
{
    background-color: transparent;
    color: #249;
    font-size: 1em;
}
a:visited
{
    background-color: transparent;
    color: #824;
    font-size: 1em;
}
